.row-header
{
    margin : 0px auto;
    padding :20px ;
    
}
.row-footer
{
    background-color: #9575cd;
    margin: 0px auto;
    padding: 0px 20px 0px 20px;

}
.row-content
{
    border-bottom: 1px ridge floralwhite;
    padding: 0px 50px 0px 50px;
    margin: 0px auto;
    min-height: 400px;

}
.address
{
font-size: 80%;
margin: 0px;
color: black;
}
.jumbotron
{
    background-color:#9575cd;
    margin: auto;
    padding: 0px auto;
    color: floralwhite;
    font-family: Arial, Helvetica, sans-serif;

}
.abc
{
   
    
    padding: 60px 0px 0px 70px;
    border-bottom: 0.5px ridge floralwhite;
    margin-bottom: 50px;
    
}
body
{
    padding: 50px 0px 0px 0px;
    z-index: 0;

}
.navbar-dark
{
   background-color: #512da8; 
}